<ion-header translucent>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title translate>new-game</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content fullscreen>
  <ion-list>
    <ion-item>
      <div>
        <ion-label translate>profile</ion-label>
        <ion-note>{{profile.predefined ? (profile.name | translate) : profile.name}}</ion-note>
      </div>
      <ion-select [(ngModel)]="profile" slot="end" [interfaceOptions]="{ cssClass: 'wide-select' }">
        <ion-select-option *ngFor="let p of allProfiles" [value]="p">
          {{p.predefined ? (p.name | translate) : p.name}}
        </ion-select-option>
      </ion-select>
    </ion-item>
    <form #form="ngForm">
      <app-game-setup-options [profile]="profile" [playerNamesRequired]="true"></app-game-setup-options>
      <ion-button routerLink="setup" [state]="{ validated: form.valid }" [disabled]="!form.valid" class="ion-margin-top"
        translate>generate-setup</ion-button>
    </form>
  </ion-list>
</ion-content>
