ion-menu-button {
  color: var(--ion-color-primary);
}

// Do not show selected item in ion-select
ion-item ion-select::part(text),
ion-item ion-select::part(placeholder) {
  display: none;
}

// Text input
ion-input {
  border: solid 2px #ffc6097c;
  border-radius: 10px;
}
