<ion-header>
  <ion-toolbar>
    <ion-title translate>new-game</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>

  <ion-list>
    <ion-radio-group [ngModel]="numPlayers.toString()" (ngModelChange)="onNumPlayersChange($event)">
      <ion-item>
        <ion-label translate>number-of-players</ion-label>
      </ion-item>
      <ion-row>
        <ion-col>
          <ion-item>
            <ion-label>2</ion-label>
            <ion-radio slot="start" value="2"></ion-radio>
          </ion-item>
        </ion-col>
        <ion-col>
          <ion-item>
            <ion-label>3</ion-label>
            <ion-radio slot="start" value="3"></ion-radio>
          </ion-item>
        </ion-col>
        <ion-col>
          <ion-item>
            <ion-label>4</ion-label>
            <ion-radio slot="start" value="4"></ion-radio>
          </ion-item>
        </ion-col>
        <ion-col>
          <ion-item>
            <ion-label>5</ion-label>
            <ion-radio slot="start" value="5"></ion-radio>
          </ion-item>
        </ion-col>
      </ion-row>
    </ion-radio-group>
    <ion-item>
      <ion-label position="floating" translate>number-of-factions</ion-label>
      <ion-range [(ngModel)]="numFactions" pin="true" snaps="true" ticks="true" min="{{numPlayers}}" max="10">
      </ion-range>
      <ion-note translate [translateParams]="{num: numFactions}">number-of-factions-note</ion-note>
    </ion-item>
    <ion-item>
      <ion-label translate>include-expansion-fire-ice</ion-label>
      <ion-checkbox [(ngModel)]="extensionFireIce"></ion-checkbox>
    </ion-item>
    <ion-item>
      <ion-label translate>include-expansion-merchants</ion-label>
      <ion-checkbox [(ngModel)]="extensionMerchants"></ion-checkbox>
    </ion-item>
    <ion-button (click)="onClickGenerate()" translate>generate</ion-button>
  </ion-list>
  <ion-list>
    <ion-item-divider>
      <ion-label translate>factions</ion-label>
    </ion-item-divider>
    <ion-row>
      <ion-col>
        <ion-item>
          <ion-icon name="body-outline"></ion-icon>
          <ion-label translate>faction.acolytes</ion-label>
        </ion-item>
      </ion-col>
      <ion-col>
        <ion-item>
          <ion-icon name="body-outline"></ion-icon>
          <ion-label translate>faction.alchemists</ion-label>
        </ion-item>
      </ion-col>
      <ion-col>
        <ion-item>
          <ion-icon name="body-outline"></ion-icon>
          <ion-label translate>faction.auren</ion-label>
        </ion-item>
      </ion-col>
    </ion-row>
    <ion-item-divider>
      <ion-label translate>bonus-cards</ion-label>
    </ion-item-divider>
    <ion-item-divider>
      <ion-label translate>scoring-tiles</ion-label>
    </ion-item-divider>
    <ion-item-divider>
      <ion-label translate>final-scoring-tile</ion-label>
    </ion-item-divider>
  </ion-list>

</ion-content>
