<ion-header translucent>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title translate>scoring-tiles</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content fullscreen>
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large" translate>scoring-tiles</ion-title>
    </ion-toolbar>
  </ion-header>

  <ion-list>
    <ion-item *ngFor="let scoringTile of allScoringTiles; let i = index">
      <ion-label>
        <div>
          <p>
            <ion-text><strong translate>action-phase-scoring</strong></ion-text>
            <ion-text translate>{{scoringTile.actionPhaseScoring}}</ion-text>
          </p>
          <p>
            <ion-text><strong translate>end-round-reward</strong></ion-text>
            <ion-text translate [translateParams]="{ count: scoringTile.endRoundRewardConditionCount }">
              {{scoringTile.endRoundRewardCondition}}</ion-text>
            <ion-text translate [translateParams]="{ count: scoringTile.endRoundRewardCount }">
              {{scoringTile.endRoundReward}}</ion-text>
          </p>
        </div>
      </ion-label>
      <ion-checkbox [(ngModel)]="scoringTileSelected[i]"></ion-checkbox>
    </ion-item>
  </ion-list>
</ion-content>
<ion-footer>
  <ion-toolbar>
    <ion-button (click)="onClickOk()" translate>ok</ion-button>
    <ion-button (click)="onClickCancel()" translate>cancel</ion-button>
  </ion-toolbar>
</ion-footer>
